.title{
    text-align: center;
    font-size: 50px;
    font-family: fantasy ;
}
.flex-contenedor{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 250px;
 
    border: 2px solid rgb(240, 224, 6);
    margin: 5px;
}
.card-img{

    width: 100%;
}
.card-title{
    font-size: 25px;
    font-family: fantasy;
    text-align: center;

}
body{
    background-color: rgb(70, 201, 241);
    padding: 30px;
    border: dashed rgb(240, 67, 139) ;
    margin: 40px;
}
